body {
  background: #a13f48;
  color: #fdf0bf;
  margin: 0;
  padding: 0 0 100px 0;
  font-family: 'Century Gothic', 'Avenir', Arial, Helvetica, sans-serif;
  font-size: 24px;
  width: 100%;
}

h1 {
  font-weight: normal;
  text-align: center;
  font-size: 72px;
  text-transform: uppercase;
}

.wrapper {
  padding: 100px 0;
  background-color: #2a5c7b;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a13f48), to(#2a5c7b));
  background: -webkit-linear-gradient(top, #2a5c7b, #a13f48);
  background: -moz-linear-gradient(top, #2a5c7b, #a13f48);
  background: -ms-linear-gradient(top, #2a5c7b, #a13f48);
  background: -o-linear-gradient(top, #2a5c7b, #a13f48);
}

.container {
  position: relative;
  height: 700px;
  width: 700px;
  margin: 50px auto;
}

#board {
  height: 700px;
  width: 700px;
  background: #f8e59b;
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotateZ(45deg) rotateY(-0deg);
}

.square {
  background: #ccc;
}

#board:before,
#board:after {
  position: absolute;
  content: '';
  float: left;
}

#board:before {
  height: 700px;
  width: 50px;
  background-color: #f5846f;
  transform-origin: 100% 0;
  transform: rotateY(90deg) translateX(50px) translateZ(650px);
}

#board:after {
  height: 50px;
  width: 700px;
  background-color: #f9c867;
  transform-origin: 100% 0;
  transform: rotateX(-90deg) translateY(70px) translateZ(650px) translateX(-100px);
}

#head,
#head:after,
#head:before,
#apple,
#apple:after,
#apple:before,
.body-part,
.body-part:before,
.body-part:after {
  position: absolute;
  content: '';
  height: 50px;
  width: 50px;
  float: left;
}

#head {
  position: relative;
  background-color: #96aaf4;
  z-index: 22;
  transition: transform 300ms linear;
  transform-style: preserve-3d;
  transform: translateX(50px) translate(.1em);
}

#head:after {
  background-color: #70daec;
  transform-origin: 100% 100%;
  transform: rotateX(-90deg) translateY(50px);
  z-index: 22;
}

#head:before {
  background-color: #6aa1f6;
  transform-origin: 100% 0;
  transform: rotateY(90deg) translateX(50px);
  z-index: 22;
}

#apple {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #cbceb9;
  transform-style: preserve-3d;
  transform: translateX(50px) translate(.1em);
  box-shadow: 3em 1.5em 3em rgba(0, 0, 0, .3);
  z-index: 2;
}

#apple:after {
  background-color: #b8a991;
  transform-origin: 100% 100%;
  transform: rotateX(-90deg) translateY(50px);
  z-index: 2;
}

#apple:before {
  background-color: #b49691;
  transform-origin: 100% 0;
  transform: rotateY(90deg) translateX(50px);
  z-index: 2;
}

.body-part {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #b3c5ff;
  transition: transform 300ms linear;
  transform-style: preserve-3d;
  transform: translateX(50px) translate(.1em);
  box-shadow: 3em 1.5em 3em rgba(0, 0, 0, .3);
  z-index: 1;
}

.body-part:after {
  background-color: #80b2ff;
  transform-origin: 100% 100%;
  transform: rotateX(-90deg) translateY(50px);
  z-index: 1;
}

.body-part:before {
  background-color: #88e4f4;
  transform-origin: 100% 0;
  transform: rotateY(90deg) translateX(50px);
  z-index: 1;
}

.score-board {
  width: 100%;
  text-align: center;
}

#score, #top-score, #play-button {
  z-index: 999;
  padding: 8px 0 0 8px;
  margin-left: 10px;
  text-align: center;
}
